[2021-10-07 20:26] aastha0326 opened #1 "design a custom logo and add it on the front page on the top left corner"

[2021-10-07 20:28] ishitakapoor26 commented on #1
@aastha01chauhan Go ahead! All the best!

[2021-10-07 20:47] ishitakapoor26 opened #2 "Enhancing the navigation bar"
Try to enhance the navigation bar by adding some css effects to it.

[2021-10-07 20:51] ishitakapoor26 opened #3 "Add Feedback Page"
Add Feedback Page to the static website.

[2021-10-07 20:52] ishitakapoor26 opened #4 "Add floating social media icons"
Add floating social media icons to the left corner of the homepage.

[2021-10-07 20:55] ishitakapoor26 opened #5 "Enhance UI of Newsletter section"
Enhance UI of Newsletter section in About Us page.

[2021-10-07 20:59] ishitakapoor26 opened #7 "Fix the alignment issues in About Us page"
Fix the alignment issues in About Us page which comprises of text alignment and embedded YouTube videos alignment.

[2021-10-08 05:42] yash37158 commented on #3
can I use firebase for feedback backend service @ishitakapoor26 ?

[2021-10-08 09:25] ishitakapoor26 commented on #4
@Agrim-Ani Sure, Go Ahead!

[2021-10-08 11:00] ishitakapoor26 opened #8 "Add Login Page"
Add Login hyperlink in the homepage, which will redirect to Login Page which you have to design.

[2021-10-08 11:01] ishitakapoor26 opened #9 "Add Register Page"
Add Register hyperlink in the homepage, which will redirect to Registration Page which you have to design.

[2021-10-08 18:24] shweta-laha commented on #8
hey I would like to work on this, please assign me

[2021-10-08 18:32] ishitakapoor26 commented on #8
Sure, go ahead! @shweta-laha
Good Luck!

[2021-10-08 18:37] #1 closed, assigned to aastha0326

[2021-10-08 18:44] shikhar13012001 commented on #7
I would love to work on this issue, Could you assign this to me ?

[2021-10-09 18:50] smily31 commented on #9
/assign this issue to me .

[2021-10-09 19:55] ishitakapoor26 commented on #7
Bug is that the about us page text and YouTube video alignment and margin needs to be fixed. So you have to target tabt.html file to make appropriate changes.

[2021-10-09 19:59] ishitakapoor26 opened #12 "Add Project Section in Readme.md"
Add a project section in readme.md mentioning that this project is a part of HacktoberFest 2021.

[2021-10-09 20:12] ishitakapoor26 commented on #9
@smily31 Go ahead, Good Luck!

[2021-10-10 05:25] ishitakapoor26 commented on #12
@saadfareed Go ahead, Good Luck!

[2021-10-10 05:39] Shah-Arsalan commented on #4
Can I work on it @ishitakapoor26 ?

[2021-10-10 07:12] #8 closed

[2021-10-10 07:17] Yuktashettigar16 opened #14 "Adding Signup page for the website"
As Signup page is required for logging in later.

[2021-10-10 10:13] smily31 commented on #9
![Register Page](https://user-images.githubusercontent.com/62801190/136691370-765cb896-719d-4a39-b636-e6ca7c72144e.png)

I have used the same theme as that of Login so that it does not mismatch .
Is it fine to make a PR?

[2021-10-12 10:11] alphaninja27 opened #19 "Profile Box to show"

[2021-10-12 10:12] alphaninja27 opened #20 "Alternate Login Page"
Alternative Login Page Idea

[2021-10-12 10:13] alphaninja27 opened #21 "Alternate Registeration Page"
Alternative Registeration Page Idea

[2021-10-12 20:35] Charvi-Bansal commented on #7
I would like to make a PR for this.

[2021-10-13 09:12] ishitakapoor26 commented on #7
@shikhar13012001 any updates?

[2021-10-13 09:21] ishitakapoor26 opened #22 "Fix font size and font face bug in homepage"
Font size of homepage is too small and not clearly visible and Font face is also not matching the theme. Make relevant changes and fix it.

[2021-10-13 09:29] yash37158 commented on #3
you can assign it to someone else, i have already raised 4 PR.

[2021-10-14 17:32] RESHU-05 commented on #2
Please give me time I will complete it by tomorrow

[2021-10-14 18:55] alkatrivedi commented on #3
Can you please assign me this issue?

[2021-10-15 09:58] prathamjagga opened #24 "Navbar (Header) items stick to top on home page. Please give some padding or space between header items."
**Actual behaviour:**
The items in the main header on homescreen stick to the top of window. There must be some padding between these items and the top of navbar. Kindly refer to the following image:
![image](https://user-images.githubusercontent.com/30550632/137469361-89f07f77-6e41-4345-863a-800520750144.png)
**Expected behaviour:**
It should look like this for a better User Experience:
![image](

[2021-10-15 10:42] GeorgeET15 commented on #24
Hi ma'am,

If you don't mind can I also try this :)

[2021-10-16 02:21] sreechand2002 commented on #5
@ishitakapoor26 can you assign it to me

[2021-10-16 05:49] ishitakapoor26 commented on #7
@sreechand2002 go ahead! and create a PR for the same within 2 days.

[2021-10-16 05:56] ishitakapoor26 commented on #3
Remove that feedback form and create a new one. Add floating button for the feedback form (same as earlier button) which will redirect to the feedback you have created.

[2021-10-16 06:33] Anas-hameed commented on #5
@ishitakapoor26 go ahead.  I would not able to do it. Got busy into some other stuff.

[2021-10-16 07:14] SHAMUNESH commented on #2
Hey! I would like to contribute on this, can you please assign it :)

[2021-10-16 07:24] SHAMUNESH commented on #20
Hey! I would like to work on this, I have made few responsive login page templates, with validation, can I work on it

[2021-10-16 07:25] SHAMUNESH commented on #19
Hey, can you provide what exactly needs to be done here?

[2021-10-16 07:25] #20 closed, assigned to alphaninja27

[2021-10-16 07:25] #21 closed, assigned to alphaninja27

[2021-10-16 07:26] #19 closed, assigned to alphaninja27

[2021-10-16 07:28] SHAMUNESH commented on #5
Hey, I'm interested in it! will enhance the UI by adding some widgets.

[2021-10-16 07:30] ishitakapoor26 commented on #5
This issue is already assigned to @sreechand2002. Please look for some other issue or open a new issue.
Good Luck!

[2021-10-16 07:43] Abilash-3704 opened #26 "sign up page"
Hi @ishitakapoor26 , I would like to work on making the form in sign-up page look better as a contribution for hacktoberfest 2021.
can you please assign this issue to me ?
Thank you

[2021-10-21 09:56] RESHU-05 commented on #2
@ishitakapoor26 Please review my PR.

[2021-10-21 18:53] ishitakapoor26 commented on #2
@RESHU-05 PR MERGED. Thank you for contributing to the project!

[2021-10-21 18:53] #2 closed, assigned to RESHU-05

[2021-10-21 18:55] #7 closed, assigned to sreechand2002

[2021-10-28 11:22] SimantaRaj-Dev opened #34 "I added robot in meta tag to enhance SEO in index.html. screnshort for the same is provided below, kindly refer to it."
<img width="525" alt="2021_10_28_16_50_51_Added_robots_under_the_meta_tag_to_enhance_SEO _by_Simanta_Developer_Pull_Requ" src="https://user-images.githubusercontent.com/85247063/139246203-18613994-a24d-4213-92c3-5f7ee16306fc.png">

[2021-10-28 12:06] #34 closed, assigned to SimantaRaj-Dev

[2021-10-29 14:01] MonalikaKapoor opened #36 "The color of the features tab #1c19dd is looking really different wrt the main theme"

[2021-10-31 07:05] #24 closed

[2021-10-31 07:07] #36 closed

[2021-10-31 07:23] #12 closed

[2021-10-31 07:24] ishitakapoor26 opened #40 "Add contributors section in readme.md file"

[2021-10-31 08:49] MonalikaKapoor opened #41 "Contents of the navbar are overflowing and need some enhancing"

[2021-10-31 09:06] Sukhija-Aniket commented on #40
I would like to take up this issue
can you please assign @ishitakapoor26

[2021-10-31 13:53] #41 closed

[2021-10-31 14:13] MonalikaKapoor opened #44 "Enhancement in the sticky buttons"

[2021-10-31 17:09] #44 closed

[2021-10-31 17:40] ishitakapoor26 opened #46 "Enhancing UI of about us page"
Enhancing UI of about us page.

[2021-10-31 17:51] #40 closed

[2021-11-11 09:49] Alam9835 commented on #46
i want to work on this

[2021-11-11 11:05] ishitakapoor26 commented on #46
@Alam9835 go for it! Good Luck!

[2021-12-01 12:07] sn2606 commented on #46
I would like to work on this, if the issue is not closed yet.

[2021-12-02 11:19] dayanand-g commented on #9
@ishitakapoor26 can I work on this issue if it is not closed?

[2021-12-02 14:12] Pushti-R commented on #46
I want to work on this

[2021-12-02 14:12] Pushti-R commented on #9
please assign this issue to me

[2021-12-02 14:47] Pushti-R commented on #26
can you assign this to me

[2021-12-02 14:49] Pushti-R commented on #3
can you assign me this

[2021-12-02 18:33] pritmanvar commented on #26
I would like to work on sing up and sing in page.
Can you assign this to me?

[2021-12-03 06:28] ishitakapoor26 commented on #26
@Pushti-R go ahead!
Good Luck!

[2021-12-03 06:29] ishitakapoor26 commented on #26
Hey! @Pushti-R commented first. Please find some other issue.

[2021-12-03 06:32] ishitakapoor26 commented on #9
@dayanand-g go ahead!
Good Luck!

[2021-12-03 06:33] ishitakapoor26 commented on #46
@Pushti-R go ahead!

[2021-12-03 06:36] ishitakapoor26 commented on #3
Hey! @Pushti-R first finish-off with the two issues assigned to you, then I'll assign you this one too!

[2021-12-03 06:53] Pushti-R commented on #26
@ishitakapoor26 can you brief me about my task?

[2021-12-03 06:55] Pushti-R commented on #46
hey @ishitakapoor26  will you brief me a little

[2021-12-03 07:12] ishitakapoor26 commented on #26
You have to make sign in and sign up pages matching the theme of the site and link it to the site.

[2021-12-03 07:14] ishitakapoor26 commented on #46
Here about us page means- when you click on Learn More button in about section, you have to change colour theme and fix alignment issues in about us page.

[2021-12-03 07:19] ishitakapoor26 commented on #46
![Capture](https://user-images.githubusercontent.com/78542333/144561119-043320b9-fa55-4d6d-905d-5ebff4fb6a05.PNG)

For instance, notice in the above image Health bliss and the content written under the heading has alignment issues. Moreover, the colour of the very next section of this page is not matching theme of the site.

[2021-12-03 07:59] Pushti-R commented on #26
ok @ishitakapoor26  thank you

[2021-12-03 08:00] Pushti-R commented on #46
Ok will work on it

[2021-12-03 10:12] Pushti-R commented on #46
![image](https://user-images.githubusercontent.com/84193430/144585242-c19e6079-a356-4c34-afec-624f5a89e8b3.png)

@ishitakapoor26  will it work ?

[2021-12-03 13:13] radzhiv25 commented on #5
Can i contribute ?

[2021-12-03 13:38] leesha19 opened #51 "improving styling"
under the services section there is 4 blocks all of there length are not same some level is up some are down

[2021-12-04 06:25] Aniket-508 opened #52 "The font of the navbar menu does not match with the rest of the font"
The font used is Open Sans and the font used for the rest of body in most parts in Rubik, this may cause inconsistency.

[2021-12-04 06:27] Aniket-508 commented on #52
@ishitakapoor26

[2021-12-04 08:31] ishitakapoor26 commented on #51
@leesha19 go ahead!

[2021-12-04 08:33] ishitakapoor26 commented on #52
@Aniket-508 Attach screenshot of suggested changes.

[2021-12-04 09:52] madhuri878 commented on #46
I also want to  work on this.

[2021-12-04 10:16] madhuri878 commented on #51
In health bliss highlights can i add more section like helping others, excercise or involving in activities?

[2021-12-04 12:16] ishitakapoor26 commented on #51
Of course! but please open an issue for the same.

[2021-12-04 12:18] ishitakapoor26 commented on #46
Try adding gradience to the background.

[2021-12-04 12:19] ishitakapoor26 commented on #46
@madhuri878 this issue is already assigned to @Pushti-R. You can work on issue #5.

[2021-12-04 12:30] madhuri878 opened #53 "Adding more sections in health bliss highlights"

[2021-12-04 12:32] madhuri878 commented on #53
Please assign me

[2021-12-04 16:20] SakshiChalke opened #54 "adding more information section in services covid support"
Can I add more information section in services covid support

[2021-12-04 16:31] Tripathiaman2511 commented on #3
Can you please elaborate the issue? @ishitakapoor26

[2021-12-04 17:05] ishitakapoor26 commented on #3
You have to add feedback page to the site. Feedback's form design and theme should match site's theme.

[2021-12-04 17:06] ishitakapoor26 commented on #54
Please elaborate what kind of more information section?

[2021-12-04 17:29] SakshiChalke commented on #54
Adding more content like self care and communication part

[2021-12-04 18:37] ishitakapoor26 commented on #54
Okay go ahead but I will prefer different cards for self-care and communication. Try adding 3 cards to services section so that flow is maintained.

[2021-12-05 09:40] Aniket-508 commented on #52
![Screenshot (135)](https://user-images.githubusercontent.com/71957423/144741380-9dd9df94-582a-419c-8c2a-36d82ad95a59.png)
![Screenshot (136)](https://user-images.githubusercontent.com/71957423/144741382-84998be5-bdf3-46c0-b7ed-5eae7630f288.png)

[2021-12-05 09:41] Aniket-508 commented on #52
the font family of  navbar is open sans which does not go with rest of the font which is rubik
@ishitakapoor26

[2021-12-05 11:20] ishitakapoor26 commented on #52
Good to go! @Aniket-508 create a PR for the same.

[2021-12-05 11:38] ABHI-ATG opened #57 "Fixing Portfolio filter's Allignment in Mobile View"
**Before:**
Portfolio Filter is not properly visible and accessible in mobile view (after 520px)
![health_bef](https://user-images.githubusercontent.com/90257489/144744798-98d23075-578a-46e7-be5f-022c9fc5260e.jpg)

**After:**
Portfolio filter's direction is now column and aligning in center
![health_aft](https://user-images.githubusercontent.com/90257489/144744824-5a6fab72-d39a-42d5-be28-5fa3c7afb

[2021-12-05 12:25] Aniket-508 opened #59 "Fixing nav icon in mobile view"
The navigation icon in mobile view is not centered in the div alongside div which does not give good user experience.
![Screenshot (139)_LI](https://user-images.githubusercontent.com/71957423/144746443-e70540fc-3d9b-4272-945f-1f7ad6d15f81.jpg)

[2021-12-05 13:21] Pushti-R commented on #46
@ishitakapoor26  please review my PR and let me know if more changes are required.
I will work

[2021-12-08 05:05] SushantPatial opened #61 "Adding icons in the support section"
I'd like to add icons beside the headings in the 'How to Support' section
![image](https://user-images.githubusercontent.com/84243683/145151223-faf066c3-f109-4c63-8c70-5ba5b80055b9.png)

It'll look somewhat like this (with paragraphs)
![image](https://user-images.githubusercontent.com/84243683/145151399-a250f2db-eae9-4451-9d69-597c0b5bdf81.png)

[2021-12-08 05:06] SushantPatial commented on #61
Or like this
![image](https://user-images.githubusercontent.com/84243683/145151478-ba5cbde6-6692-4306-860f-21cfd974b68d.png)

Just tell me which one do you prefer and I'll work on it

[2021-12-08 11:30] ishitakapoor26 commented on #57
@ABHI-ATG sounds good! go ahead.
Good Luck!

[2021-12-08 11:33] ishitakapoor26 commented on #61
I'll go with the first one.

[2021-12-08 12:08] ABHI-ATG commented on #57
I've already created the pull request, you can check.

[2021-12-08 12:09] bhavyastar opened #62 "Create Cards"
On HomePage, Under the Section Mental Health Difficulties, the Height of the Cards are not equally aligned. Can you please assign me to create new Cards for the same and apply the Hover effect in those Cards?

[2021-12-08 12:16] ishitakapoor26 commented on #62
Hey @bhavyastar this issue is already raised by a contributor (#51). Please raise any other issue and avoid raising duplicate issues.

[2021-12-08 12:20] ishitakapoor26 commented on #57
okay!

[2021-12-08 12:25] #62 closed

[2021-12-08 18:15] SushantPatial commented on #61
Sure!

[2021-12-08 21:04] SO1ee opened #63 "Fix height issues on Mental Health Difficulties Section"
Hii! mam I would like to fix these height issues on these card  as right now it is not perfect. Kindly assign me this task. Thank you.
![Screenshot 2021-12-09 013709](https://user-images.githubusercontent.com/90699287/145284030-c94406da-8bed-40b1-90dd-cda160a89ca0.png)

[2021-12-08 21:06] SO1ee commented on #63
I would like to make it like this
![Screenshot 2021-12-09 023520](https://user-images.githubusercontent.com/90699287/145284365-20919c4a-8a87-46e2-b281-5653c527d042.png)

[2021-12-08 21:08] SO1ee commented on #63
if you want to change the design i would love to do that.

[2021-12-10 01:24] Yash-RajSingh commented on #3
Hey I would like to work on this but I don't know php. Can it be that I create the page using html, css and then someone else can get it to work using php?

[2021-12-12 13:53] Pushti-R commented on #9
can I work on this issue?

[2021-12-12 13:54] Pushti-R commented on #3
Can I work on this issue?

[2021-12-12 13:55] Pushti-R commented on #5
Hey @ishitakapoor26  can I work on this issue?

[2021-12-12 13:56] Pushti-R commented on #54
Can I work on this issue?

[2021-12-12 13:56] Pushti-R commented on #51
Can I work here?

[2021-12-13 11:35] #61 closed

[2021-12-13 11:36] #52 closed

[2021-12-13 11:38] ishitakapoor26 commented on #63
Yes please, go ahead with the designing part, but do remember that it should match with the theme of the site.

[2021-12-13 11:40] #59 closed

[2021-12-13 11:41] ishitakapoor26 commented on #5
@Pushti-R go ahead!

[2021-12-13 11:42] ishitakapoor26 commented on #26
Any updates @Pushti-R ?

[2021-12-13 12:06] Pushti-R commented on #26
Yes I have finished with the work , will create PR today
You can check and let me know if more changes required

[2021-12-13 12:07] Pushti-R commented on #5
What changes are required @ishitakapoor26 ?

[2021-12-13 13:05] leesha19 opened #65 "improving get in touch section"
hey there, i would like to improve the styling of contact page according to theme

[2021-12-13 15:25] Pushti-R commented on #26
#66
@ishitakapoor26 kindly check my PR and let me know the reviews

[2021-12-13 17:16] ishitakapoor26 commented on #65
@leesha19 go ahead!

[2021-12-13 17:21] ishitakapoor26 commented on #5
![about](https://user-images.githubusercontent.com/78542333/145858610-b2aae035-ed39-4fda-aebd-476229d4f3b2.PNG)

See UI of above image (Newsletter) doesn't look good. It is not matching the aqua and greenish colour scheme of the homepage. So, design the Newsletter section so that it looks good.
Hope you got what I wanted to convey!

[2021-12-13 17:27] Yash-RajSingh commented on #3
Hey @ishitakapoor26, I'm a participant of SWOC'21 who opted to contribute in Health Bliss too. Can you please acknowledge if this issue can be assigned to me so that I too can begin my contribution.

[2021-12-14 02:53] SO1ee commented on #63
Thank you mam for assigning me

[2021-12-14 03:24] Vanshikagoel0012 commented on #3
Hey, @ishitakapoor26 can you assign this issue to me?

[2021-12-14 06:49] Pushti-R commented on #5
Ok @Pushti-R thank you

[2021-12-14 09:03] pritmanvar opened #69 "redesign login page"
Hey there, I would like to redesign login page according to theme

[2021-12-15 08:38] psankhe28 opened #70 "Home section"
On clicking read more,same information is being displayed.
On clicking the read more here too,the data about health bliss appears.I would like to change it.
Plz assign this issue to me.

<img width="814" alt="sucide data" src="https://user-images.githubusercontent.com/84843461/146152196-93baa934-73d9-4eed-9e55-cee17b8b7da7.png">

[2021-12-17 14:11] RahulJaysawal commented on #53
hey @ishitakapoor26 can i add some section.

[2021-12-17 15:40] #63 closed

[2021-12-17 16:44] #57 closed

[2021-12-17 16:45] ishitakapoor26 commented on #5
@Pushti-R any update?

[2021-12-17 17:04] ishitakapoor26 commented on #54
@SakshiChalke any update?

[2021-12-17 17:05] ishitakapoor26 commented on #53
@madhuri878 any updates?

[2021-12-17 17:54] ABHI-ATG opened #71 "Improve Responsivenesss"
After Clicking on Read More Button
![HB](https://user-images.githubusercontent.com/90257489/146586957-b26521bd-6077-4402-8a30-daed60d67505.JPG)

Improving the Responsiveness (Mobile View) of the Page
- Fonts are too big
- Not proper margin and padding
- Map size is too big
- Videos are not properly alligned

[2021-12-17 17:58] madhuri878 commented on #53
Yes i was not well for somedays but i have completed almost the work , i will complete it by 1_2 days.

[2021-12-18 09:19] Pushti-R commented on #5
Hey @ishitakapoor26 I will finish it by tomorrow

[2021-12-18 10:41] Pushti-R commented on #5
hey @ishitakapoor26  should I make the about page responsive?

[2021-12-18 16:33] SandeepShekhawat8778 commented on #71
Hi @ABHI-ATG  i'd like to work on it, please assign :)

[2021-12-19 10:46] Pushti-R commented on #5
Hey @ishitakapoor26  kindly check my PR and review it

[2021-12-19 16:36] NamanGokharu opened #74 "Adding animations to mental health difficulties section"
I would like to work on animation of MentalHealth difficulties section, please assign this task to me!

[2021-12-20 05:40] Yash-RajSingh opened #75 "Adding a custom scrollbar"
Currently, the website has the default scrollbar, which is in contrast to the great look of the website. I would like to work on this as a contributor in SWOC'21 and add a custom scrollbar matching the design of the website. @ishitakapoor26  Kindly assign this issue to me please

![image](https://user-images.githubusercontent.com/85413348/146716945-d1f4b906-2652-4d04-acb7-854f56250f65.png)

[2021-12-20 11:17] Vanshikagoel0012 commented on #3
@ishitakapoor26 ?? can i work on this?

[2021-12-20 14:21] SO1ee opened #77 "Log in page Design modification"
Hii! mam, i would like to modify the design of log in page . I would try to make to more attractive and relatable  to the theme . It will be appreciated  if you assign me this task. Thank you..

[2021-12-22 03:33] ishitakapoor26 commented on #75
Sounds good!
Go ahead!

[2021-12-22 03:36] ishitakapoor26 commented on #70
I would like to know that you will simply link another page already existing on Google or code another page for the same?

[2021-12-22 03:40] ishitakapoor26 commented on #71
Hey! @ABHI-ATG go ahead!

[2021-12-22 03:44] ishitakapoor26 commented on #74
Can you please elaborate more about the animation you want to implement?

[2021-12-22 03:47] ishitakapoor26 commented on #77
Hey @SO1ee , this issue is already open. Please look for some other non existing issue.

[2021-12-22 07:25] SO1ee commented on #77
Okay sure ! thank you .

[2021-12-22 07:25] #77 closed

[2021-12-22 11:20] psankhe28 commented on #70
Code another page with that information and according to the theme of the website

[2021-12-30 12:12] Pushti-R commented on #46
hey @ishitakapoor26  I have created a PR for this long back

When will you merge it?

[2021-12-31 13:40] sn2606 opened #79 "Login Page breaks on Safari web browser"
As mentioned in the title, the Login page breaks on Safari browser
Additionally, Nav Bar is not visible on the Login page in Chrome/Firefox

<img width="1512" alt="image" src="https://user-images.githubusercontent.com/58822437/147826046-af231605-8678-4203-a70d-55d1cc63cceb.png">

[2021-12-31 13:46] sn2606 opened #80 "Backend using PHP/MySQL"
I would like to work on the backend for website using the LAMP framework

Starting with
1. Database schema
2. User Login/Sign Up form & connecting it with backend
3. Logout
3. Dashboard for the user
4. Some functionalities such as - mood tracking; sobriety tracking; trigger tracking if relapsed

Note: Points 3 and 4 will need brainstorming as well as working with frontend assignees

[2021-12-31 20:57] Vanshikagoel0012 commented on #3
@ishitakapoor26 please let me know about this asap.

[2022-01-01 09:07] Yash-RajSingh commented on #75
Hey @ishitakapoor26 , I've added a custom scrollbar in the PR #81 and I've tried to make it so such that it matches the rest of the website. Kindly please review it or tell me if you would like any changes.

[2022-01-04 13:02] Sharayu1071 opened #82 "Adding Doctors section"
we can add a doctors section with doctor's social links so that patients can contact them if they want.

[2022-01-04 13:05] Sharayu1071 commented on #82
can I work on this issue?

[2022-01-04 21:33] Yash-RajSingh opened #83 "Adding a preloader for the website"
Currently there is no preloader for the website and i think there should be one something related to health I think. I would like to add a custom preloader for the website. If you think it'd be okay then please assign this issue to me. @ishitakapoor26

[2022-01-06 03:25] SO1ee opened #84 "Modify social media buttons"
Hello mam! I will like to modify social media buttons  design .

[2022-01-07 04:52] ishitakapoor26 commented on #69
@pritmanvar go ahead but do link the login page with website.

[2022-01-07 04:53] ishitakapoor26 commented on #70
@psankhe28 go ahead!
Good luck!

[2022-01-07 04:55] ishitakapoor26 commented on #79
@sn2606 so you wanna fix it?

[2022-01-07 04:56] ishitakapoor26 commented on #80
@sn2606 go ahead!

[2022-01-07 04:56] pritmanvar commented on #69
yaa sure,
Is there any other points for me to keep in mind?

[2022-01-07 04:58] ishitakapoor26 commented on #82
@Sharayu1071 go ahead!

[2022-01-07 05:02] ishitakapoor26 commented on #83
@Yash-RajSingh go ahead!

[2022-01-07 05:03] ishitakapoor26 commented on #84
Please elaborate.

[2022-01-07 05:08] ishitakapoor26 commented on #69
No.

[2022-01-07 06:30] sn2606 commented on #79
Yes, I will work on fixing it.

[2022-01-07 08:38] kunalahuja06 commented on #84
Hello there, I would like to contribute to this issue. Can you explain more about it?

[2022-01-07 08:41] SO1ee commented on #84
@ishitakapoor26 by the end of the day i will show you the work sample which i was talking about please give me some time. thank you

[2022-01-07 09:51] ishitakapoor26 commented on #84
@SO1ee go ahead!

[2022-01-07 09:51] ishitakapoor26 commented on #79
@sn2606  go ahead!

[2022-01-07 09:57] pritmanvar commented on #69
Hii @ishitakapoor26 ,
I just created pr for the same.
kindly check that and guide me if there are any required changes.
Here is link of pr [Link](https://github.com/ishitakapoor26/HealthBliss-Hacktoberfest2021/pull/85)

[2022-01-07 11:05] SO1ee commented on #84
I will  make buttons like this and i will make sure those buttons will complement our  main theme .  i am excited to work on this ! Hope you will assign me this task .Thank you.
![Screenshot 2022-01-07 162529](https://user-images.githubusercontent.com/90699287/148535058-27b6814b-d893-4ae1-94a3-91356230c09a.png)

[2022-01-11 09:18] ABHI-ATG commented on #71
Hey! @ishitakapoor26
I've already created the PR. Please check it
https://github.com/ishitakapoor26/HealthBliss-Hacktoberfest2021/pull/78

[2022-01-15 06:21] Vanshikagoel0012 commented on #3
???

[2022-01-16 08:30] Vanshikagoel0012 commented on #3
@ishitakapoor26 WHY ARE YOU NOT RESPONDING ???

[2022-01-16 08:31] Vanshikagoel0012 commented on #84
CAN I TAKE THIS ISSUE? @ishitakapoor26

[2022-01-21 18:12] #71 closed

[2022-01-21 18:17] #54 closed

[2022-01-21 18:23] #53 closed

[2022-01-21 18:25] ishitakapoor26 commented on #84
@SO1ee go ahead!

[2022-01-21 18:26] ishitakapoor26 commented on #83
Any updates?

[2022-01-21 18:26] ishitakapoor26 commented on #82
@Sharayu1071 any updates?

[2022-01-21 18:27] ishitakapoor26 commented on #80
@sn2606 any updates?

[2022-01-21 18:27] ishitakapoor26 commented on #79
@sn2606 any updates?

[2022-01-21 18:27] ishitakapoor26 commented on #70
@psankhe28 any updates?

[2022-01-21 23:07] Yash-RajSingh commented on #83
I'm really sorry. I'm stuck in my final examinations and practicals. can I submit my work till 4 if its ok?

[2022-01-22 08:29] nawed2611 commented on #69
Hi! Is this issue still open?

[2022-01-22 08:33] nawed2611 commented on #70
Hi! I wanted to work on this issue if it's still open.

[2022-01-22 08:52] psankhe28 commented on #70
Would share screenshots by tomorrow

[2022-01-22 18:26] psankhe28 commented on #70
These are the 2 pages
1)
![WhatsApp Image 2022-01-22 at 7 05 33 PM](https://user-images.githubusercontent.com/84843461/150650858-8c1f788f-918e-4b61-ae94-e3f301570677.jpeg)
![WhatsApp Image 2022-01-22 at 7 06 07 PM](https://user-images.githubusercontent.com/84843461/150650855-63d32303-71b1-4670-93c9-aaa4a90378e3.jpeg)

2)
![WhatsApp Image 2022-01-22 at 6 57 48 PM](https://user-images.githubusercont

[2022-01-22 18:58] ishitakapoor26 commented on #70
@psankhe28 good efforts but try to improve designing of pages.

[2022-01-22 19:02] ishitakapoor26 commented on #83
No problem. Good luck for your exams!

[2022-01-22 19:07] #69 closed

[2022-01-22 19:14] #75 closed

[2022-01-23 08:48] psankhe28 commented on #70
Can you elaborate if possible

[2022-02-06 15:28] Yash-RajSingh commented on #83
Hey @ishitakapoor26, I have raised a PR #92 for this issue. Kindly please review it. Also, sorry for taking so long.

[2022-02-27 21:25] #83 closed

[2022-02-27 21:34] #70 closed

[2022-02-27 21:36] #84 closed

[2022-02-27 21:45] ishitakapoor26 opened #93 "Alignment Fixes"

[2022-02-27 21:46] #93 closed

[2022-10-03 16:10] sirichandana-v opened #94 "Enhancing UI of login section"
I would like to improve the UI of login section. Could you please assign this issue to me under hacktoberfest2022 @ishitakapoor26

[2022-10-03 17:00] ishitakapoor26 commented on #94
@sirichandana-v go ahead!

[2022-10-03 18:20] anmol-19 opened #95 "Forgot password feature on login page. Can u assign me that ??"

[2022-10-04 08:30] anmol-19 opened #97 ""How to Support " section icon unresponsiveness with text"
@ishitakapoor26  can u assign me that task? I will improve the styling of that section and make it better.

[2022-10-04 12:55] prajaviS opened #98 "Survey Form using HTML"

[2022-10-04 12:55] prajaviS commented on #98
Assign me with this task under hacktoberfest

[2022-10-04 16:32] ishitakapoor26 commented on #98
Please add description and images of the changes.

[2022-10-04 16:33] ishitakapoor26 commented on #95
Sure! Go ahead

[2022-10-04 16:36] ishitakapoor26 commented on #97
@anmol-19 this issue is pretty simple and includes a few lines of code. Please figure out one more issue like this and solve both under this issue because I can't assign a simple issue like this as per guidelines of Hacktoberfest.

[2022-10-05 05:51] Pallavibahekar opened #101 "Making login page more attractive by adding CSS gradient effects"

[2022-10-05 05:55] Ankita-278 commented on #98
Can you pls assign me this issue?

[2022-10-05 05:56] Ankita-278 commented on #101
Can you pls assign me this issue?

[2022-10-05 06:01] prajaviS commented on #98
This survey form will contain a survey of the page. In this we basically take a survey of the user of how frndly this site is for them.
A survey option will be displayed on the site which would be helpful for us to make the site more user frndly. I am attaching the image in the following comment.

[2022-10-05 06:55] prajaviS commented on #98
Pls assign me this task under hacktoberfest

[2022-10-05 07:45] abhinav2712 opened #103 "Improving the UI of About Us page after "Read More""
The UI and the styling isnt similar with the  theme of the main webpage, I can improve it since being a UI/UX designer I can see many scopes of improvement,..
Assign me this task under Hacktoberfest'22

[2022-10-05 11:46] SimonVerhoeven opened #104 "The new logo isn't shown"

[2022-10-05 11:47] SimonVerhoeven commented on #104
I raised pull request 105 for it

[2022-10-05 13:32] kumarmanishrai opened #106 "Improving the UI of navbar in mobile/tablet screen size"
In small screen size, when menu icon appears on scrolling there appears a navbar/header which blocks the vision and affect user experience. It should be more transparent or can be removed.
![Screenshot (21)](https://user-images.githubusercontent.com/98271764/194072371-1bce04d2-3b5a-4002-b2c0-065772d6a28b.png)

[2022-10-05 14:48] kumarmanishrai commented on #106
Fixed #107 Pull Request

[2022-10-05 19:51] shrutigajbhiye22 commented on #103
I want to work on this task,Can you assign me this task ??

[2022-10-05 19:56] shrutigajbhiye22 opened #108 "Add more attractive buttons"
I want to add more attractive and animated buttons , by CSS , HTML, javascript and want to resolve issue #97 .

[2022-10-05 19:58] shrutigajbhiye22 commented on #108
Hey @ishitakapoor26 , I want to solve this issue, Can you assign me this issue ?? :)

[2022-10-06 04:16] rjrishika commented on #108
I want to add attractive buttons, can you assign me this issue?

[2022-10-06 20:25] c99SRS commented on #103
Hi @ishitakapoor26 can you please assign this to me under hacktoberfest22. I can improve this

[2022-10-06 20:26] c99SRS commented on #94
Hi @ishitakapoor26 I can make a nice login page for you, which will add value. Please assign this to me

[2022-10-06 20:28] c99SRS commented on #3
HI @ishitakapoor26 can you please assign this to me so I can make the necessary changes soon.  pls assign me under hacktoberfest22 tag

[2022-10-06 20:30] c99SRS commented on #108
Hi @ishitakapoor26 please assign this to me. I want to work on this. Really have good experience on this

[2022-10-07 18:44] RAJEEVKUMAR9598 commented on #101
Hii! can you please assign me this task. I want to fulfill this issue.please!

[2022-10-07 20:37] KAMYAVERMA opened #110 "want to add logo to login page"
Want to add clickable logo to login and sign up form as well.
Kindly assign it to me.

HAPPY HACKING

[2022-10-08 13:08] yosaami commented on #110
I would like to contribute to this issue.

[2022-10-08 21:38] rajatrai30 commented on #110
hello,
I can easily solve this issue
@ishitakapoor26 please assign this issue to me asap

[2022-10-09 05:21] KAMYAVERMA commented on #110
@ishitakapoor26 Kindly assign the issue raised to me

[2022-10-10 04:12] tusharmittal0109 opened #119 "To change the look of forms in login page"
Want to change the look of the form part of the sign in and sign up page and add a bit of animation
![image](https://user-images.githubusercontent.com/67334416/194798305-e3630ba6-2fe7-4b8a-bd6d-635869b6c30c.png)

[2022-10-10 04:20] tusharmittal0109 opened #120 "Services section"
![image](https://user-images.githubusercontent.com/67334416/194798773-0d1cb247-5d39-48a9-9263-e3b8530b8910.png)
Want to make the icons and para a bit more organised

[2022-10-11 05:48] saksham0103 opened #121 "Icons dont have hover effect"
I will add hover effect to all the icons  please assign this task to me

[2022-10-12 03:29] Lokesh-Rathore opened #124 "In mobile view the left side social links overlap on the text which makes it difficult to read."

[2022-10-12 03:30] Lokesh-Rathore commented on #124
![image](https://user-images.githubusercontent.com/89118388/195243356-61e16c59-ea06-4263-a1c8-8d0c7fb13c87.png)

[2022-10-12 03:30] Lokesh-Rathore commented on #124
If you assign this task to me I'll will improve this

[2022-10-12 09:49] Ayushhgupta39 opened #125 "Loading Time"
The Site takes too much time to load.

[2022-10-12 09:57] AditiSingh2003 opened #126 "Misplaced icons"
The icons and the text is so congested that the icon overlap the text
<img width="960" alt="image" src="https://user-images.githubusercontent.com/97729662/195312743-b617643d-1733-40b7-a664-de43388cc4d1.png">

[2022-10-12 10:01] Aarav238 opened #127 "Add dark mode toggle button in the navbar."
I will add a toggle button in a navbar by clicking on which we can change the theme of the  webpage.
I will add webpage in this section:-
![navbar](https://user-images.githubusercontent.com/95538627/195313413-b161e232-08d9-4bfc-8457-d45ed3e42b3e.png)

[2022-10-12 10:01] Aarav238 commented on #127
Please assign this to me

[2022-10-12 10:02] Ayushhgupta39 opened #128 "Feedback Button"
The Feedback button on the right has a alert sign which resembles it with a Warning sign.

After fixing this, it will look more familiar and Professional.

<img width="954" alt="image" src="https://user-images.githubusercontent.com/96309609/195313853-21390e94-2b19-4d24-8200-7349cc9626dc.png">

[2022-10-12 16:02] SUBHAMX11 commented on #127
**I have already done it , it would be really nice if you assign it to me:**

LIGHT THEME:
___
![image](https://user-images.githubusercontent.com/81670473/195392002-39c48a76-8164-494c-962b-469fe75f0345.png)

DARK THEME:
___
![image](https://user-images.githubusercontent.com/81670473/195392243-a141e17a-6788-428b-b80b-a74d84bc6482.png)

[2022-10-14 02:35] FabianCristancho opened #133 "Improving footer"
The footer has some spelling and structuring errors. Also, the current year should be added and the page name should be linked to the main index.

![image](https://user-images.githubusercontent.com/37461628/195749177-99e19f3f-98b4-454e-90b1-b196de755790.png)

[2022-10-14 21:09] muhammadaatir commented on #127
Can you please assign it to me? I will work hard on it.

[2022-10-15 14:03] Klaus6666 commented on #133
let me work on that .. its easy..

[2022-10-17 01:39] iamwicked commented on #126
I can fix it. Assign the task to me.

[2022-10-18 08:19] Devesh18Sharma opened #136 "Add a slider showing images of depression as well as a container How to deal with it ..."
This is the essential slide and container for your website as your website is about sucide and depression....
Assign this issue to me so that your website can look aesthetic as well as fulfill it's core mission...
Regards
Devesh Sharma

[2022-10-18 18:23] Manishgupta200 commented on #133
I would like to work on it. Please assig it to me

[2022-10-19 01:43] FabianCristancho commented on #133
Assig it to me

[2022-10-19 15:22] negia7265 commented on #108
Hey could you please asssign this issue to me i would use bootstrap to improve buttons.

[2022-10-21 15:58] ishitakapoor26 commented on #94
@c99SRS go ahead!

[2022-10-21 15:59] ishitakapoor26 commented on #97
@anmol-19 any updates?

[2022-10-21 16:00] ishitakapoor26 commented on #98
@prajaviS please create a PR. I'm assigning you the issue.

[2022-10-21 16:01] ishitakapoor26 commented on #101
@Ankita-278 please go ahead!
Others please try finding another issues. Have a good day!

[2022-10-21 16:03] ishitakapoor26 commented on #103
@abhinav2712 go ahead!

[2022-10-21 16:12] ishitakapoor26 commented on #119
Please check, this issue is already taken up.
I would suggest you to raise another issue.

[2022-10-21 16:13] ishitakapoor26 commented on #110
There is no need of adding logo to the login page.
Please raise another issue to work on!
Good luck!

[2022-10-21 16:14] ishitakapoor26 commented on #120
This issue is already solved!
Please look for another issue.
Good luck!

[2022-10-21 16:15] ishitakapoor26 commented on #108
I am closing this issue as it is already opened #97. Please redirect and comment on that issue only.

[2022-10-21 16:30] #106 closed

[2022-10-21 16:39] ishitakapoor26 commented on #126
@AditiSingh2003 @iamwicked this issue is already resolved.

[2022-10-21 16:39] #126 closed

[2022-10-21 16:40] ishitakapoor26 commented on #124
@Lokesh-Rathore go ahead and create a PR.
Good luck!

[2022-10-21 16:41] #120 closed

[2022-10-21 16:42] Ayushhgupta39 commented on #125
Maybe Reduce the size of media files in the webpage.

[2022-10-21 16:58] ishitakapoor26 commented on #125
@Ayushhgupta39 please look for some other issue.

[2022-10-21 16:58] #125 closed

[2022-10-21 17:00] ishitakapoor26 commented on #127
@Aarav238 please go ahead!
others please look for some other issue

[2022-10-21 17:02] ishitakapoor26 commented on #128
This is a beginner issue. Please look for some other minor issues and solve altogether.
Cheers!

[2022-10-21 17:04] ishitakapoor26 commented on #133
@Klaus6666 you have created PR to forked version. Please resolve it and create a PR to the main repository.

[2022-10-21 17:04] ishitakapoor26 commented on #133
@FabianCristancho please go ahead!

[2022-10-21 17:05] ishitakapoor26 commented on #136
@Devesh18Sharma please attach a screenshot and description of the suggested changes.

[2022-10-21 17:07] #133 closed

[2022-10-21 17:11] #124 closed

[2022-10-21 18:34] Shobhnik13 opened #140 "adding a feature for filling email id and password before submitting in sign in and sign up section"

[2022-10-22 08:43] saran1522 opened #141 "Add Forget Password in login page"
I have already created a PR #113 regarding this. Please review and merge it. THANKS!!

[2022-10-22 15:53] abhinav2712 commented on #103
@ishitakapoor26 On it!

[2022-10-23 06:30] #141 closed

[2022-10-23 06:38] SJ-Kumar commented on #140
I would like to work on this issue. Please assign it to me.

[2022-10-23 19:04] abhinav2712 commented on #103
@ishitakapoor26 Solved this issue, can you please put a tag of hacktoberfest 2022 as well??

[2022-10-24 23:03] abhinav2712 opened #144 "This Repo is excluded from Hacktoberfest 2022"
Do mention regarding this on README file..